:root {
  --main-color: #43ED81;
  
  --background-color: #ffffff;


  --text-color: #2c2c2c;
  --text-color-little: #4d4d4d;





  --background-color-dark: #242424;
  --background-color-dark-hover: #2e2e2e;
  --text-color-dark: #ffffff;
  --text-color-little-dark: #c2c2c2;
  }
  