@import url("colors.css");

.asdf {
    background-color: var(--main-background);
    color : var(--main-color);
    font-size: 50px;
    }   

@media (prefers-color-scheme: light) {
    .asdf {
    background-color: var(--main-background);
    color : var(--main-color);
    font-size: 50px;
    }   
}

@media (prefers-color-scheme: dark) {
    .asdf {
    background-color: var(--main-background-dark);
    color : var(--main-color-dark);
    font-size: 50px;
    }   
}